<div class="row sign-up-form">
    <div class="col s4 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Name: <%= @student.name %></span>
          <p>E-mail: <%= @student.email %></p>
          <p>Department: None</p>
        </div>
        <div class="card-action">
          <h3>Enrollments</h3>
          <%if @student.courses.empty? %>
          None
          <%else%>
            <ul>
              <% @student.courses.each do |course|%>
              <li><%= course.name %>
              <%end%>
            </ul>
          <%end%>
        </div>
      </div>
      <%if current_user == @student %>
        <%= link_to '<i class="material-icons left">create</i>Edit your profile'.html_safe, edit_student_path, class:"waves-effect waves-light btn"%>
      <%end%>    
    </div>
</div>